body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
    overflow: hidden;
    position: relative;
}
header {
    background-color: #2c3e50;
    color: white;
    padding: 10px 0;
}

header .container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

section {
    padding: 20px 0;
    width: 20%;
}

section .container {
    width: 80%;
    margin: 0 auto;
}

section h2 {
    color: #2c3e50;
}

section img {
    max-width: 100%;
    height: auto;
}

.produto {
    margin-bottom: 20px;
}

.produto img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.preco {
    font-weight: bold;
    color: #e74c3c;
}

footer {
    background-color: #34495e;
    color: white;
    text-align: center;
    padding: 10px 0;
}

footer .container {
    width: 80%;
    margin: 0 auto;
}
.banner {
    text-align: center;
    color: aliceblue;
    animation: shine 4s infinite alternate;
    position: relative;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2)
    }
    .banner h1 {
        font-size: 3em;
        margin-bottom: 10px;
    }
    .banner p {
        font-size: 1.5em;
    }
    .dropdown {
        position: absolute;
        top: 20px;
        left: 20px;
    }
    .menu-btn {
        padding: 10px 20px;
        background-color: #e74c3c;
        border: none;
        border-radius: 5px;
        color: white;
        cursor: pointer;
        font-size: 16px;
        transition: background-color 0.3s ease;
    }
    .menu-btn :hover {
        background-color: #f54b4b;
    }
    .menu-list {
        display: none;
        list-style: none;
        padding: 10px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 10;
    }
    .menu-list.show {
        display: block;
    }
    .menu-list li {
        margin-bottom: 10px;
    }
    .menu-list li a {
        text-decoration: none;
        color: #ff7979;
        font-size: 16px;
    }
    .menu-list li a :hover {
        color: aqua;
    }
    .dropdown:hover .menu-list{
        display: block;
    }
    @keyframes shine {
        0%{
            background-image: linear-gradient(90deg, #000, #000);
        }
        100% {
            background-image: linear-gradient(90deg, #000, #e40808, #0000ff, #0faf00 );
            background-size: 200% 200%;
            background-position: 100%;
        }
    }